#title {
    text-align: center;
    margin: 1% 0;
}

#displayButtons {
    margin: 1% 0;;
}

button{
    margin: 1%;
}

/* #favBtn{
    width: 50%;
    margin: 1%, 25%;
} */

.rightColumn{
    text-align: right;
}

#favoritesTab{
    margin: 1% 0 1% 1%;
}
